extends layout

block content
  main
    h1= title
    figure
      img(src='https://s3.us-east-2.amazonaws.com/jace-blog-images/jace.jpg' id='jace')
      figcaption Jace
    p Jose Zambrano, also known as “Jace” is an artist from the south suburbs of Chicago. Jace gets inspired by all forms of art and his goal is to inspire the world with his own.
