extends layout

block content
  each blog in blog_list
    div(class='blogSection')
      a(href=blog.url class='blogTitle') #{blog.title}  
      p #{blog.date}
  else
    p There are no blogs
    
  a(href= '/blogs/create') create
