extends layout

block content
  main
    article
      h1 Blogs
      div(id='blogContainer')
        each blog in blog_list 
            a(href='/blogs/'+blog._id) #{blog.title} 
              span edited: #{blog.date}
        else
          p There are no blogs at the time. 
