extends layout

block content
  h1 Jace From the Future
  a(href= '/') Home
  a(href='/blogs') Blogs
  
  ul
  each blog in blog_list
    li 
      #{blog.title} 
  else
    li There are no blogs
      a(href= '/blogs/create') create
