extends layout

block content
  h1= title
    
  form(method='POST' action='')
    input(type='text' placeholder='title' name='title')
    input(type='text' placeholder='message' name='message')
    input(type='submit' value='Send')  
    
  if errorMessage
    p= errorMessage
