doctype html
html(lang='en')
  head
    title= title
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, shrink-to-fit=no')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    h1= title
    div(class='dashboardSection')
      h2 Create Blog
      form(method='POST' action='' enctype="multipart/form-data")
        input(type='file' name='file' accept='image/*')
        input(type='text' placeholder='title' name='title')
        input(type='textarea', placeholder='Message' name='message' value='ehlo')
        input(type='submit' value='Send')
    
