extends layout

block content
  main
    section(id='index')
      h2 Goldmine
      figure
        iframe(scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/295234443&amp;color=%23ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;show_teaser=true")
        figcaption Goldmine - Jace from the Future
    if blog
      h2 #{blog.title}
      figure
        img(src=blog.link)
        figcaption #{blog.date}
      p #{blog.message}
    else
       
    a(href='/blogs') More Blogs..
