extends layout

block content
  form(method='POST' action='' id='mailingList')
    input(type='text' placeholder='email@email.com' name='email')
    input(type='submit' value='Send')  
    
  a(href='/dashboard' id='loginButton') Login
