extends layout

block content
  h1= title
  a(href= '/') Home
  a(href='/blogs') Blogs
  
  form(method='POST' action='')
    input(type='text' placeholder='email@email.com' name='email')
    input(type='submit' value='Send')  
