extends layout

block content
  span Enter mailing list
  form(method='POST' action='' id='mailingList')
    input(type='text' placeholder='email@email.com' name='email')
    input(type='submit' value='Send')  
