doctype html
html(lang='en')
  head
    title= title
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, shrink-to-fit=no')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(href="https://fonts.googleapis.com/css?family=Exo+2" rel="stylesheet")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
    script(src="/javascripts/script.js")
  body
    header
      a(href= '/' id='logo') Jace from the Future
      nav
        a(href= '/about') About
        a(href='/blogs') Blogs

    block content
    footer
      a(href= 'https://www.instagram.com/jacefromthefuture/?hl=en') Instagram
      a(href= 'https://soundcloud.com/jacefromthefuture') Soundcloud
      a(href='/dashboard') Login
