/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*----------Custom Styles----------*/
/*Base*/
body{
	font-family: 'Exo 2', sans-serif;
	font-size: 1em;
	line-height: 1.618em;
}
header{
	color: black;
}
main{
	padding: 1.618em 1.618em 1.618em 1.618em;
	line-height: 2.618em;
}
h1{
	font-size: 1.618em;
}
h2{
	color: grey;
}
p{
}
span{
}
a{
	text-decoration: none;
	color: inherit;
}
a:hover{
	color: #BBB;
}
a:visited{
	color: inherit;
	text-decoration: none;
}
/*Layout*/
header{
	padding: 1.618em 1.618em 1.618em 1.618em;
}
nav{

}
main{

}
article{
}
section{

}
span{
	font-size: .618em;
	padding: 0.236em;
}
footer{
	text-align: center;
	color: grey;
	padding: 1.618em 1.618em 1.618em 1.618em;
}
form{
	width: 100%;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
}
input{
	margin: .618em 0 .618em 0;
}
textarea{
	margin: .236em 0 .618em 0;

}
/*Modue*/
nav > a{
	font-size: 1em;
	margin-right: .618em;
}
#logo{
	text-decoration: none;
	color: black;
	font-size: 1.618em;
}
#logo:hover{
	text-decoration: none;
}
#mailingList{
	width: 60%;
	margin: 0 auto;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
#mailInput{
	width: 60%;
}
#mailInput:focus{

}
#mailButton{
	width: 30%;
	color: white;
	text-decoration: none;
	background: grey;
}
.blogTitle{
	font-weight: bold;
}
input{
	padding: 0.236em 0.236em 0.236em 0.236em;
}
/*
input[type=submit]{
	background: grey;
	color: white;
	display: inline-block;
	width: 11.089em;
}
*/
.customUpload{
	color: grey;
	fill: currentColor;
	width: 11.089em;
	display: inline-block;
  cursor: pointer;
}
textarea{
	resize: none;
	height: 17em;
}
input, textarea{
	border : 1px solid grey;
	border-radius: 2px;
	outline: none;
	font-family: inherit;
}
input:focus, textarea:focus{
	border : 1px solid grey;
	border-radius: 2px;
}
iframe{
	width: 100%;
	height: 20px;
}
/*State*/
@media (min-width: 700px) {
	body{
		min-height: 100vh;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
	}
	header{
		flex: 1;
		width: 20%;
	}
	nav{
		display: flex;
		flex-direction: column;
	}
	main{
		flex: 5;
		width: 80%;
	}
	footer{
		width: 100%;
	}

	#mailingList{
		width: 30%;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
	}
	#mailInput{
		width: 60%;
	}
	#mailInput:focus{

	}
	#mailButton{
		width: 30%;
		color: white;
		text-decoration: none;
		background: grey;
	}
	textarea{
		resize: none;
		height: 17.942em;
	}
	input, textarea{
		border : 1px solid #CCC;
		border-radius: 2px;
	}
	iframe{
		width: 17.942em;
		height: 20px;
	}
}
